.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 { grid-area: 1 / 1 / 5 / 2; }
.div2 { grid-area: 1 / 2 / 5 / 3; }
.div3 { grid-area: 1 / 3 / 5 / 4; }
.div4 { grid-area: 1 / 4 / 5 / 5; }
.div5 { grid-area: 1 / 5 / 5 / 6; }

.divColor1{
    color: brown;
}

.title {
	font-size: 25px;
	margin-bottom: 15px;
}

.container {
	font-size: 14px;

	display: flex;
	flex-direction: column;
	gap: 15px;

	margin-bottom: 30px;
}

.item, .addStudentLabel {
	display: flex;
	align-items: center;
	column-gap: 30px;
}

.item-title {
    font-size: 18px;
}

.item-input {
    max-height: 30px;
}

.addStudent {
	margin-top: 50px;

	display: flex;
	flex-direction: column;
}

.addStudentButton {
	padding: 8px 10px;
	max-width: 100px;
	font-size: 14px;
}

label {
	margin-bottom: 5px;
}

.edit{
	width: 25px;
	height: 25px;
}